{% set driver = service('driver').create('google.map') %}
{% if hide_buttons != true %}
    <div class="p-2 w-64">
        <button class="{{ theme.buttons.green }} current-position">       
            {{ labels.current }}
        </button>   
    </div>
{% endif %}
<div class="mt-2 w-full h-full" id="map_content">   
    <div 
        id="map" 
        latitude="{{ latitude }}"
        longitude="{{ longitude }}"
        class="{{ class|default('w-full h-64') }}"
        token="{{ driver.getDriverConfigVar('api_key') }}">
        <div class="ui centered loader"></div>
    </div>
</div>
