{% set country = createModel('Country','address').where('id','>',0) %}
{{ createSearch('name','country','ilike:{value}%') }}
{% set country = applySearch(country,'country') %}
{% set items = paginate(country,'country') %}  
{% for item in items.getItems() %} 
    <tr id="row_{{ item.uuid }}">
        <td>
            <button class="ui icon mini basic button edit-country-button" {{ buttons.edit.title|attr('title') }} uuid="{{ item.uuid }}">
                <i class="icon edit"></i>
            </button> 
            <button 
                class="ui icon mini basic button delete-country-button" 
                {{ buttons.delete.title|attr('title') }} uuid="{{ item.uuid }}" data-title="{{ item.name }}">
                <i class="icon trash orange"></i>
            </button> 
        </td>
        <td>
            {{ component('semantic~status.dropdown',{ status: item.status, uuid: item.uuid, skip: [2,3,4,5] }) }}         
        </td>               
        <td>{{ item.name }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.phone_code }}</td>
    </tr>
{% endfor %}