{% set city = createModel('City','address').where('id','>',0) %}
{{ createSearch('name','city','ilike:{value}%') }}
{% set city = applySearch(city,'city') %}
{% set items = paginate(city,'city') %}  
{% for item in items.getItems() %} 
    <tr id="row_{{ item.uuid }}">
        <td>
            <button 
                class="{{ theme.buttons.icon }} edit-button" 
                {{ buttons.edit.title|attr('title') }} 
                uuid="{{ item.uuid }}">
                {{ component('icons~edit',theme.icons.menu,'svg') }}      
            </button> 
            <button 
                class="{{ theme.buttons.icon }} delete-button" 
                {{ buttons.delete.title|attr('title') }} 
                uuid="{{ item.uuid }}" 
                data-title="{{ item.name }}">
                {{ component('icons~trash',theme.icons.delete,'svg') }}      
            </button> 
        </td>
        <td>
            {{ component('system:admin.status.dropdown',{ status: item.status, uuid: item.uuid, skip: [2,3,4,5] }) }}         
        </td>             
        <td>
            {{ item.name }}
        </td>
        <td>
            {{ item.country.name }}
        </td>
    </tr>
{% endfor %}