{% set items = items|default(items) %}
{% if selected is not empty %}
    {% set item_selected = items[selected] %}
{% endif %}
<select 
    {{ rule|attr('rule') }}
    name="{{ name }}"
    class="{{ theme.form.select }} {{ size|default('select-sm') }} map-provier-dropdown {{ class }}" 
    {{ title|attr('title') }} 
    id="{{ id|default('map_provider_dropdown') }}">    
    
    {% for key, item in items %}
    <option 
        value="{{ key }}">             
        {{ item.title }}
    </option>   
    {% endfor %}             
</select>