{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.address, 
                component: 'address::admin.address', 
                svg_icon: 'icons~address', 
                active: true 
            },     
            { 
                title: labels.city, 
                component: 'address::admin.city', 
                svg_icon: 'icons~info', 
            },   
            { 
                title: labels.country, 
                component: 'address::admin.country', 
                svg_icon: 'icons~info'
            },
            { 
                title: labels.state, 
                component: 'address::admin.state', 
                svg_icon: 'icons~info'
            },
            { 
                title: labels.map,
                component: 'address::admin.map', 
                svg_icon: 'icons~map'
            },  
            { 
                title: labels.settings, 
                component: 'address::admin.settings', 
                svg_icon: 'icons~cog' 
            }           
        ],
        menu: { 
            extension: 'address' 
        },
        content: { 
            component: 'address::admin.address' 
        } 
    })
}}

{{  component('system:admin.modal.confirm',{
        id: 'confirm_delete'       
    }) 
}}