<div class="{{ theme.panel }} flex flex-row items-center">
    <div class="join">
        <button 
            mountTo="city_details"
            component="address::admin.city.add"
            class="join-item {{ theme.buttons.green }} city-action">
            {{ buttons.create }}
        </button>
        <!-- 
        <button 
            mountTo="city_details"
            component="address::admin.city.import"
            class="join-item {{ theme.buttons.blue }} city-action">
            {{ buttons.import }}
        </button>
        -->
        <button 
            mountTo="city_details"
            component="address::admin.city.stats"
            class="join-item {{ theme.buttons.default }} city-action">
            {{ buttons.stats }}
        </button>
    </div>
    <div class="ml-4">
        {{ component('system:admin.search.form',{ namespace: 'city' }) }}        
    </div>
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>              
                <th class="w-32">{{ columns.action }}</th>
                <th class="w-32">{{ columns.status }}</th>                                     
                <th>{{ columns.title }}</th>         
                <th>{{ columns.country }}</th>                                                            
            </tr>
        </thead>
        <tbody
            id="city_rows">
            {{ component('address::admin.city.view.rows') }}   
        </tbody>
    </table>
    <div class="mt-2 ml-2" id="paginator">
        {{  component("system:admin.paginator",{ 
                id: 'city_paginator',
                namespace: 'city',
                rows_selector: 'city_rows',
                component:"address::admin.city.view.rows" 
            })  
        }}  
    </div>
</div>