{% set status_filter = searchValue('status','address') %}
<div class="{{ theme.panel }} flex flex-row items-center">
    <button 
        mountTo="address_details"
        component="address::admin.address.add"
        class="{{ theme.buttons.green }} create-address">
        {{ buttons.create }}
    </button>
    <div class="ml-4">
        {{ component('system:admin.search.form',{ namespace: 'address' }) }}      
    </div>      
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>              
                <th class="w-32">{{ columns.action }}</th>
                <th class="w-32">{{ columns.status }}</th>                      
                <th >{{ columns.country }}</th>   
                <th >{{ columns.city }}</th>         
                <th>{{ columns.address }}</th>        
                <th >{{ columns.user }}</th> 
                <th >{{ columns.type }}</th>                                                      
            </tr>
        </thead>
        <tbody 
            id="address_rows">
            {{ component('address::admin.address.view.rows') }}   
        </tbody>
    </table>
    <div class="mt-2 ml-2" id="paginator">        
        {{  component("system:admin.paginator",{ 
                id: 'address_paginator',
                namespace: 'address',
                rows_selector: 'address_rows',
                component:"address::admin.address.view.rows" 
            })  
        }}   
    </div>   
</div>