{% set size = size|default(15) %}
{% set state = createModel('State','address') %}
{% if selected is not empty %}
    {% set item_selected = state.findById(selected) %}
{% endif %}
{% set items = state.countryQuery(coutry_code).orderBy('country_code').get() %}
{% set data_field = data_field|default('uuid') %}

<select 
    {{ rule|attr('rule') }}
    name="{{ name }}"
    class="{{ theme.form.select }} state-dropdown {{ class }} {{ size }}" 
    {{ title|attr('title') }} 
    data-field="{{ data_field }}"
    id="{{ id|default('state_dropdown') }}">    
    
    {% if hide_empty != true %}
        <option 
            {{ (item_selected[data_field] is empty) ? 'selected' : '' }}
            value="">  
            {{ labels.choose }}
        </option>   
    {% endif %}
    
    {% for item in items %}
        <option 
            {{ (item[data_field] == item_selected[data_field]) ? 'selected' : '' }}
            value="{{ item[data_field] }}">           
            {{ item.name }}
        </option>   
    {% endfor %}          
    
</select>