{% set driver = service('driver').create('mapbox.map') %}
{% if hide_buttons != true %}
<div class="p-2 w-64">
    <button class="ui basic icon button fluid current-position">
        <i class="blue map pin icon"></i>
        {{ labels.current }}
    </button>   
</div>
{% endif %}
<div class="mt-2 w-full h-full">
    <div 
        id="map" 
        latitude="{{ latitude }}"
        longitude="{{ longitude }}"
        class="{{ class|default('w-full h-96') }}" 
        token="{{ driver.getDriverConfigVar('public_token') }}">
    </div>
</div>
