<div class="{{ theme.panel }} flex flex-row items-center">   
    <button 
        mountTo="state_details"
        component="address::admin.state.add"
        class="join-item {{ theme.buttons.green }} state-create">
        {{ buttons.create }}
    </button>
    <div class="ml-4">   
        {{ component('system:admin.search.form',{ namespace: 'state' }) }}
    </div>       
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>              
                <th class="w-32">{{ columns.action }}</th>
                <th class="w-32">{{ columns.status }}</th>   
                <th class="">{{ columns.code }}</th>                                        
                <th>{{ columns.title }}</th>     
                <th class="">{{ columns.country }}</th>                                                                              
            </tr>
        </thead>
        <tbody 
            id="states_rows">
            {{ component('address::admin.state.view.rows') }}   
        </tbody>
    </table>
    <div class="mt-2 ml-2" id="paginator">  
        {{  component("system:admin.paginator",{ 
                id: 'state_paginator',
                namespace: 'state',
                rows_selector: 'states_rows',
                component:"address::admin.state.view.rows" 
            })  
        }}   
    </div>
</div>Diy_#two_dev