<div class="{{ theme.panel }}">      
    {{ component('system:admin.search.form',{ namespace: 'state' }) }}       
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>              
                <th class="w-32">{{ columns.action }}</th>
                <th class="w-32">{{ columns.status }}</th>   
                <th class="">{{ columns.code }}</th>                                        
                <th>{{ columns.title }}</th>     
                <th class="">{{ columns.country }}</th>                                                                              
            </tr>
        </thead>
        <tbody 
            id="states_rows" 
            component="address::admin.state.view.rows" 
            namespace="state">
            {{ component('address::admin.state.view.rows') }}   
        </tbody>
    </table>
    <div class="mt-2 ml-2" id="paginator">     
    </div>
</div>